<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SEARCH QUERY - The Critique</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Georgia Institute of Technology's Student Body Government (SGA)">

    <!-- Le styles -->
    <link rel="stylesheet/less" type="text/css" href="less/bootstrap.less">
    <link rel="stylesheet/less" type="text/css" href="less/responsive.less">
    <script src="js/less-1.4.1.min.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.-png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">
    <!-- Font Awesome -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <style>
  
    </style>
  </head>

  <body>
  <!-- GATECH THEME -->
  <div id="globalnav" class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li><a href="http://www.gatech.edu"><i class="icon-home"></i>Georgia Tech Home</a></li>
          <li><a href="http://www.map.gatech.edu"><i class="icon-map-marker"></i>Map</a></li>
          <li><a href="http://www.gatech.edu/directory"><i class="icon-user"></i>Directory</a></li>
          <li><a href="http://www.gatech.edu/departments"><i class="icon-building"></i>Offices</a></li>
        </ul>
        <ul class="nav pull-right">
          <li><a href="https://www.facebook.com/georgiatech" title="Facebook" class="facebook">Facebook</a></li>
          <li><a href="http://www.flickr.com/photos/georgiatech" title="Flickr" class="flickr">Flickr</a></li>
          <li><a href="https://plus.google.com/+georgiatech/posts" title="Google Plus" class="googleplus">Google Plus</a></li>
          <li><a href="http://www.linkedin.com/company/3558" title="LinkedIn" class="linkedin">LinkedIn</a></li>
          <li><a href="http://pinterest.com/georgiatech/" title="Pinterest" class="pinterest">Pinterest</a></li>
          <li><a href="http://gatech.edu/rss" title="RSS" class="rss">RSS</a></li>
          <li><a href="https://twitter.com/georgiatech" title="Twitter" class="twitter">Twitter</a></li>
          <li><a href="http://www.youtube.com/georgiatech" title="YouTube" class="youtube">YouTube</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="logo-wrapper">
    <h1 id="gt-logo">
      <a href="/" rel="home" title="Georgia Tech Sandbox Site"><img alt="Georgia Tech" src="img/gatech/logos/logo-gt.png"></a>
    </h1>
  </div>      
  <!-- NAVBAR -->
  <div id="siteNav-full" class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li class="dropdown">
            <a id="semester" class="brand dropdown-toggle" href="#" data-toggle="dropdown">
              Fall 2013 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu semester-menu" >
              <!-- Saved Schedules from User -->
              <li><a href="#" tabindex="-1">Fall 2013: My Fall Semester</a></li>
              <li><a href="#" tabindex="-1">Fall 2014: Future ideas</a></li>
              <li><a href="#" tabindex="-1">Summer 2011: Freshman Term</a></li>
              <li class="divider"></li>
              <!-- Semester Data -->
              <li><a href="#">Fall 2013</a></li>
              <li><a href="#">Summer 2013</a></li>
              <li><a href="#" tabindex="-1">Spring 2013</a></li>
              <li><a href="#" tabindex="-1">Fall 2012</a></li>
              <li><a href="#" tabindex="-1">Summer 2012</a></li>
              <li><a href="#" tabindex="-1">Spring 2012</a></li>
              <li><a href="#" tabindex="-1">More</a></li>
            </ul>
          </li>
          <li class="active"><a href="#">Search</a></li>
          <li><a href="#">Calendar</a></li>
          <li><a href="#about">Share</a></li>
          <li><a href="#contact">Login</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <!-- Logo -->
    <div id="logo-big" class="center">
      <h1>Course Critique</h1>
      <p class="lead">Type in a Professor or Course Name</p>
    </div>
    <!-- Search Nav -->
    <div id="search-nav" class="center">
      <div class="input-append">
        <input id="search-query" type="text" class="input-xxlarge" placeholder="search the critique" />
        <button class="btn btn-primary"><i class="icon-search icon-white"></i></button>
      </div>
    </div>
    <!-- Carousel -->
      <div id="statistics" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#statistics" data-slide-to="0" class=""></li>
          <li class="" data-target="#statistics" data-slide-to="1"></li>
          <li class="active" data-target="#statistics" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item">
            <img src="http://twitter.github.io/bootstrap/assets/img/bootstrap-mdo-sfmoma-01.jpg" alt="">
            <div class="carousel-caption">
              <h4>First Thumbnail label</h4>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
          </div>
          <div class="item">
            <img src="http://twitter.github.io/bootstrap/assets/img/bootstrap-mdo-sfmoma-01.jpg" alt="">
            <div class="carousel-caption">
              <h4>Second Thumbnail label</h4>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
          </div>
          <div class="item active">
            <img src="http://twitter.github.io/bootstrap/assets/img/bootstrap-mdo-sfmoma-01.jpg" alt="">
            <div class="carousel-caption">
              <h4>Third Thumbnail label</h4>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#statistics" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#statistics" data-slide="next">›</a>
      </div>
  </div><!-- END CONTAINER -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
     <script src="http://code.jquery.com/jquery.js"></script>
     <script src="js/bootstrap-transition.js"></script>
     <script src="js/bootstrap-alert.js"></script>
     <script src="js/bootstrap-modal.js"></script>
     <script src="js/bootstrap-dropdown.js"></script>
     <script src="js/bootstrap-scrollspy.js"></script>
     <script src="js/bootstrap-tab.js"></script>
     <script src="js/bootstrap-tooltip.js"></script>
     <script src="js/bootstrap-popover.js"></script>
     <script src="js/bootstrap-button.js"></script>
     <script src="js/bootstrap-collapse.js"></script>
     <script src="js/bootstrap-carousel.js"></script>
     <script src="js/bootstrap-typeahead.js"></script>
     <script src="js/bootstrap-affix.js"></script>
    <!-- highcharts -->
     <script src="js/highcharts/highcharts.js"></script>
     <script src="js/highcharts/highcharts-more.js"></script>
     <script>
     </script>
  </body>
</html>
