<!-- Top Search Bar -->
<div id="search-nav" class="row-fluid">
	<div class="input-append">
    	<input id="search-query" type="text" class="input-xxlarge" placeholder="search the critique" value="{{query}}" />
       	<button class="btn btn-primary"><i class="icon-search icon-white"></i></button>
    </div>
</div>

