{{! Generate the gatech theme site header (top part of website) }}

  <div id="globalnav" class="navbar">
    <div class="navbar-inner">
      <div class="container">
        {{> social_bar}}
      </div>
    </div>
  </div>
  <div id="logo-wrapper">
    <h1 id="gt-logo">
      <a href="/" rel="home" title="Georgia Tech Sandbox Site"><img alt="Georgia Tech" src="img/gatech/logos/logo-gt.png"></a>
    </h1>
  </div>      
  {{> navbar}}