 <ul class="nav">
 	<li><a href="http://www.gatech.edu"><i class="icon-home"></i>Georgia Tech Home</a></li>
    <li><a href="http://www.map.gatech.edu"><i class="icon-map-marker"></i>Map</a></li>
    <li><a href="http://www.gatech.edu/directory"><i class="icon-user"></i>Directory</a></li>
    <li><a href="http://www.gatech.edu/departments"><i class="icon-building"></i>Offices</a></li>
</ul>
<ul class="nav pull-right">
	<li><a href="https://www.facebook.com/georgiatech" title="Facebook" class="facebook">Facebook</a></li>
	<li><a href="http://www.flickr.com/photos/georgiatech" title="Flickr" class="flickr">Flickr</a></li>
	<li><a href="https://plus.google.com/+georgiatech/posts" title="Google Plus" class="googleplus">Google Plus</a></li>
    <li><a href="http://www.linkedin.com/company/3558" title="LinkedIn" class="linkedin">LinkedIn</a></li>
    <li><a href="http://pinterest.com/georgiatech/" title="Pinterest" class="pinterest">Pinterest</a></li>
    <li><a href="http://gatech.edu/rss" title="RSS" class="rss">RSS</a></li>
    <li><a href="https://twitter.com/georgiatech" title="Twitter" class="twitter">Twitter</a></li>
    <li><a href="http://www.youtube.com/georgiatech" title="YouTube" class="youtube">YouTube</a></li>
</ul>